
:root {
  --background: #f5f5f5;
  --foreground: #1f1835;
}

body {
  color: var(--foreground);
  margin:auto;
  max-width: 400rem;
  max-height: 400rem;
  overflow: auto;
}

.backdrop {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-layer {
  position:absolute;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTExL3Jhd3BpeGVsX29mZmljZV8zMF9hYnN0cmFjdF9ncmFkaWVudF93aGl0ZV9iYWNrZ3JvdW5kX3ZlY3Rvcl9wcl9kZGY3ZTJiNC0wMjU3LTRjMTUtOWFjNS0xMmQwZTA0N2E4MWYuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: hue-rotate(90deg);
}

header {
  background-color: #370b3d;
  margin:auto;
  padding:0.5em;
  color: #ffffff;
  font-size: 62px;
}

.home-wrap {
  position: relative;
  z-index: 1;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}

.home-wrap h1 {
  font-size: 4em;
  margin:3rem;
  width:50%;
}

.home-wrap .menu {
  color: white;
  border-color:#030303;
  background-color: rgb(29, 2, 29);
  border-style: solid;
  border-width: 0.2rem;
  width: 100%;
}

.home-wrap .menu nav {
  display: inline-block;
  background-color: rgb(29, 2, 29);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 2em;
  margin: auto;
  border-style: solid;
  border-width: 0.2rem;
  border-color:#030303;
  padding: 1.6rem;
  height: 2.6rem;
  padding: 1.6rem;
}

.home-wrap .menu .signin {
  background-color: rgb(245, 245, 245);
  color: rgb(54, 4, 54);
  padding: 0.5em;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 30%;
  font-size: 2em;
  width: 10rem;
  font-weight: bold;
  margin:0.8rem;
  float:right;
  cursor: pointer;
}

.home-wrap .parent {
  container-name: home-container;
  container-type:inline-size;
  width: 100%;
  display:flex;
  justify-content: center;
  align-content: center;
}

@container home-container (min-width: 10rem) {
  .home-wrap .child {
    width: 80%;
    height: 40rem;
    margin:auto;
    background-color:rgba(209, 162, 201, 0.7);
    display:inline-flex;
  }
}

.home-wrap .child section {
  font-size: 3.5em;
  color:white;
  margin: 4rem;
}

.home-wrap .child button {
  border-style: solid;
  border-color: white;
  border-width:0.2rem;
  font-size: 0.8em;
  color: white;
  background-color: rgba(209, 162, 201, 0);
  padding: 1rem;
  text-shadow: 0.1em 0.1em 0.1em rgb(83, 52, 78);
  box-shadow: 0.1em 0.1em 0.1em rgb(138, 138, 138);
}

.login-wrap {
  float: left;
  width:100%;
  height:30rem;
  z-index:1;
  position: absolute;
}

.login-wrap h1 {
  font-size: 5rem;
  margin:2rem;
  width:100%;
}

.login-wrap .parent {
  container-name: login-container;
  container-type: inline-size;
  display: flex;
  width: 100%;
  max-width: 400rem;
  justify-content: center;
  align-content: center;
  margin: 2rem;
}

@container login-container (min-width: 10rem) {
  .login-wrap .child {
    width: 60%;
    height: 40rem;
    margin:auto;
    background-color:rgba(139, 110, 135, 0.5);
    display:inline-flex;
    padding: 4rem;
    box-shadow: 0.4em 0.4em 0.4em rgba(139, 110, 135, 0.5);
  }
}

.login-wrap .child .labels {
  font-size: 2.2em;
  color: rgb(5, 5, 5);
  float: left;
  margin:3rem;
}

.login-wrap .child input {
  padding: 1rem;
  width:40%;
  font-size:1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #030303;
  margin: 1rem;
}

.login-wrap .child input[type='submit'] {
  width:60%;
  padding: 1.2rem;
  font-size:2rem;
  margin:4rem;
  float:center;
  background-color:#45515e;
  color: #f8fafc;
  border-style: solid;
  border-color: #080808;
  box-shadow: 0.2em 0.2em 0.2em rgba(139, 110, 135, 0.5);
  border-radius: 10%;
}

.login-wrap .child .request {
  margin-left:15em;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #5840e0;
  font-size:1.5rem;
}

.login-wrap section {
  width:100%;
  max-width:100rem;
  background-image: url("https://www.philips.com.tr/c-dam/b2bhc/master/Specialties/critical-care/solutions/philips-rush-hospital-main-image-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(245, 245, 245, 0.6);
  background-blend-mode: lighten;
}

.login-wrap .regSection {
  margin: 5rem;
}

.register-wrap {
  float: center;
  background-color: #f8fafc;
  margin: auto;
  width:100%;
  max-width: 40rem;
  height:50rem;
  padding: 2rem;
  border-radius: 2%;
  z-index:1;
  position: absolute;
}

.register-wrap h1 {
  float:center; 
  margin:auto;
  text-align:center;
}

.register-wrap input{
  margin:0.5rem;
  padding:0.5rem;
  width:15rem;
  font-size:1em;
}

.register-wrap .signupfields {
  margin:auto;
  float:center; 
  width: 6em; 
  font-size: 18;
}

button:hover {
  cursor: pointer;
}

input[type='submit']:hover {
  cursor: pointer;
}

footer {
  background-color: #370b3d;
  margin:auto;
  padding:2em;
  color: #ffffff;
  font-size: 18px;
  bottom: 0;
  position:fixed;
  width:100%;
  text-align:center;
  z-index:1;
}