
:root {
  --background: #f5f5f5;
  --foreground: #1f1835;
}

body {
  color: var(--foreground);
  margin:auto;
  max-width: 300rem;
  max-height: 300rem;
  overflow: auto;
}

.backdrop {
  position:fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.background-layer {
  position:absolute;
  background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTExL3Jhd3BpeGVsX29mZmljZV8zMF9hYnN0cmFjdF9ncmFkaWVudF93aGl0ZV9iYWNrZ3JvdW5kX3ZlY3Rvcl9wcl9kZGY3ZTJiNC0wMjU3LTRjMTUtOWFjNS0xMmQwZTA0N2E4MWYuanBn.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  filter: hue-rotate(90deg);
}

header {
  background-color: #370b3d;
  margin:auto;
  padding:0.2em;
  color: #ffffff;
  font-size: 45px;
}

.home-wrap {
  position: relative;
  z-index: 1;
  margin: auto;
  display:flex;
  flex-wrap: wrap;
  width: 100%;
}

.home-wrap h1 {
  font-size: 4em;
  margin:1rem;
  width:50%;
}

.menu {
  color: white;
  border-color:#030303;
  background-color: rgb(29, 2, 29);
  border-style: solid;
  border-width: 0.2rem;
  width: 100%;
  height:4.2rem;
}

.menu nav {
  display: inline-block;
  background-color: rgb(29, 2, 29);
  cursor: pointer;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
  margin: auto;
  border-style: solid;
  border-width: 0.2rem;
  border-color:#030303;
  height: 2rem;
  padding: 1rem;
}

.menu .signin {
  background-color: rgb(245, 245, 245);
  color: rgb(54, 4, 54);
  padding: 0.2em;
  border-style: solid;
  border-width: 0.2rem;
  border-radius: 30%;
  font-size: 2em;
  width: 10rem;
  font-weight: bold;
  margin:0.4rem;
  float:right;
  cursor: pointer;
}

.home-wrap .parent {
  container-name: home-container;
  container-type:inline-size;
  width: 100%;
  display:flex;
  justify-content: center;
  align-content: center;
}

@container home-container (min-width: 10rem) {
  .home-wrap .child {
    width: 80%;
    height: 35rem;
    margin:auto;
    background-color:rgba(209, 162, 201, 0.7);
    display:inline-flex;
  }
}

.home-wrap .child section {
  font-size: 3.5em;
  color:white;
  margin: 3rem;
}

.home-wrap .child button {
  border-style: solid;
  border-color: white;
  border-width:0.2rem;
  font-size: 0.8em;
  color: white;
  background-color: rgba(209, 162, 201, 0);
  padding: 1rem;
  margin: 1rem;
  text-shadow: 0.1em 0.1em 0.1em rgb(83, 52, 78);
  box-shadow: 0.1em 0.1em 0.1em rgb(138, 138, 138);
}

.login-wrap {
  width:100%;
  height:50rem;
  z-index:1;
  position: absolute;
}

.login-wrap h1 {
  font-size: 3rem;
  margin: 1rem;
  width:100%;
}

.login-wrap .parent {
  container-name: login-container;
  container-type: inline-size;
  display: flex;
  width: 100%;
  height:30rem;
  justify-content: center;
  align-content: center;
  margin: auto;
}

@container login-container (min-width: 10rem) {
  .login-wrap .child {
    width: 100%;
    max-width:40rem;
    margin:auto;
    background-color:rgba(139, 110, 135, 0.4);
    display:flex;
    padding: 2rem;
    box-shadow: 0.4em 0.4em 0.4em rgba(139, 110, 135, 0.5);
    align-items:center;
  }
}

.login-wrap .login-container-wrapper {
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: row;
}

.login-wrap .child .labels {
  font-size: 2.2em;
  color: rgb(5, 5, 5);
  align-self: flex-start;
  margin: auto;
}

.login-wrap .child input {
  padding: 0.8rem;
  width:60%;
  font-size:1.5em;
  border-style: solid;
  border-width: 1px;
  border-color: #030303;
  margin: 1rem auto;
}

.login-wrap .child input[type='submit'] {
  width:60%;
  padding: 1.2rem;
  font-size:2rem;
  margin:2rem auto;
  background-color: rgb(54, 10, 48);
  color: #f8fafc;
  border-style: solid;
  border-color: #080808;
  box-shadow: 0.2em 0.2em 0.2em rgba(139, 110, 135, 0.5);
  border-radius: 10%;
}

.login-wrap .child .request {
  margin-left:15em;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #5840e0;
  font-size:1.5rem;
}

.login-wrap section {
  width:60%;
  max-width:100rem;
  max-height:30rem;
  background-image: url("https://www.philips.com.tr/c-dam/b2bhc/master/Specialties/critical-care/solutions/philips-rush-hospital-main-image-thumb.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(245, 245, 245, 0.6);
  background-blend-mode: lighten;
}

.login-wrap .regSection {
  margin: 1.5rem;
}

.register-wrap {
  background-color: rgba(139, 110, 135, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 40rem;
  height: 40rem;
  padding: 2rem;
  border-radius: 2%;
  z-index: 1;
}

.register-wrap label {
  font-weight: bold;
}

.register-wrap h1 { 
  margin:auto;
  text-align:center;
}

.register-wrap input{
  margin: 0.5rem;
  padding: 0.5rem;
  width: 80%;
  font-size: 1em;
}

.register-wrap input[type='submit'] {
  font-size:2rem;
  margin:1rem;
  float:center;
  background-color: rgb(54, 10, 48);
  color: #ebf0f0;
  border-style: solid;
  border-color: #080808;
  box-shadow: 0.2em 0.2em 0.2em rgba(139, 110, 135, 0.5);
  border-radius: 10%;
}

.register-wrap .request {
  margin:auto;
  background-color: rgba(0,0,0,0);
  border-style: none;
  color: #5840e0;
  font-size:1.3em;
}

.register-wrap form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.register-wrap .signupfields {
  width: 80%;
  font-size: 1rem;
  text-align: left;
}

button:hover {
  cursor: pointer;
}

input[type='submit']:hover {
  cursor: pointer;
}

footer {
  background-color: #370b3d;
  margin:auto;
  padding:0.8em;
  color: #ffffff;
  font-size: 18px;
  bottom: 0;
  position:fixed;
  width:100%;
  text-align:center;
  z-index:2;
}